@font-face {
  font-family: "EchoesSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/EchoesSans/EchoesSans-Light.eot");
  src: url("../fonts/EchoesSans/EchoesSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EchoesSans/EchoesSans-Light.woff") format("woff"), url("../fonts/EchoesSans/EchoesSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "EchoesSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/EchoesSans/EchoesSans-Bold.eot");
  src: url("../fonts/EchoesSans/EchoesSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EchoesSans/EchoesSans-Bold.woff") format("woff"), url("../fonts/EchoesSans/EchoesSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "ClarendonBT-Roman";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ClarendonBT-Roman/ClarendonBT-Roman.eot");
  src: url("../fonts/ClarendonBT-Roman/ClarendonBT-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/ClarendonBT-Roman/ClarendonBT-Roman.woff") format("woff"), url("../fonts/ClarendonBT-Roman/ClarendonBT-Roman.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "EchoesSans", sans-serif;
  font-weight: 300;
  background: #f2f2f2; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1620px; }

h1 {
  font-size: 85px;
  font-weight: bold;
  color: #40006f;
  width: 100%;
  margin: 0 0 32px; }

h2 {
  font-size: 75px;
  font-weight: bold;
  color: #808080;
  margin: 0 0 14px;
  width: 100%; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1286px;
  width: 100%; }

.links-white {
  color: #fff; }
  .links-white:hover {
    color: #d9d9d9; }

.text-decoration {
  text-decoration: underline; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  padding: 8px 42px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 26px;
  line-height: 1;
  height: 56px; }
  .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-border {
  border-radius: 28px;
  border: solid 1px #400070;
  color: #40006f; }
  .btn-border:hover {
    background: #40006f;
    color: #fff; }

.btn-border-white {
  border: 1px solid #fff;
  color: #fff; }
  .btn-border-white:hover {
    background: #fff;
    color: #40006f; }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 53px 0; }

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 24px;
  font-weight: 300; }
  .menu li {
    margin: 0 48px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff; }
      .menu li a:hover {
        color: #40006f; }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin: 0 0 0 auto; }
  .btn-burger span {
    background: #fff;
    width: 100%;
    height: 2px;
    display: block; }

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  max-width: 280px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 30px 20px;
  background: #400070;
  color: #fff;
  display: none; }
  .mobile-menu .menu {
    font-size: 18px; }
    .mobile-menu .menu li {
      margin: 0 0 20px;
      width: 100%; }
      .mobile-menu .menu li a {
        text-align: right; }
        .mobile-menu .menu li a:hover {
          color: #d9d9d9; }
  .mobile-menu .logo {
    margin: 0 auto 30px; }

.btn-close {
  cursor: pointer;
  margin: 0 0 20px auto;
  width: 20px;
  height: 20px;
  position: relative; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #fff; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.home {
  position: relative;
  z-index: 1;
  padding: 481px 0 161px;
  overflow: hidden; }
  .home:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: 1; }
  .home .container {
    z-index: 2;
    position: relative; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; } }

.author {
  padding: 72px 0 98px; }

.author-img {
  max-width: 619px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.author-title {
  position: relative;
  padding: 0 140px 0 0;
  margin: 0 0 46px; }
  .author-title:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 132px;
    height: 135px;
    background: url("../img/logo-min.png") no-repeat center;
      background-size: 100%; }

.position-author {
  font-size: 26px; }

.scroll-block {
  height: 325px;
  overflow-y: auto;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300; }
  .scroll-block p {
    margin: 0 0 30px; }
    .scroll-block p:last-child {
      margin: 0; }

.blockquote-content {
  width: calc(100% - 261px);
  padding: 0 55px 0 34px;
  position: relative;
  text-align: justify; }
  .blockquote-content:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 29px;
    height: 49px;
    background: url("../img/mouse.png") no-repeat center;
      background-size: 100%; }
  .blockquote-content:before {
    content: '';
    position: absolute;
    right: 14.5px;
    top: 0;
    width: 2px;
    height: 255px;
    background: #000; }

.blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .blockquote h3 {
    font-size: 32px;
    font-weight: 300;
    max-width: 261px;
    width: 100%; }

.advantages-slider {
  width: 100%;
  position: relative; }
  .advantages-slider .slick-arrow {
    right: 0; }
  .advantages-slider .slick-next {
    top: calc(50% - 125px); }
  .advantages-slider .slick-prev {
    bottom: calc(50% + 15px); }
  .advantages-slider:before {
    content: '';
    position: absolute;
    right: 115px;
    top: 0;
    height: calc(100% - 60px);
    width: 3000px;
    background: #fff;
    z-index: -1; }

.advantages-slider-item {
  position: relative; }

.advantages-slider-item__content {
  position: relative;
  z-index: 1;
  padding: 40px 115px 135px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .advantages-slider-item__content h3 {
    max-width: 470px;
    width: 100%;
    font-weight: bold;
    font-size: 54px;
    color: #000; }
  .advantages-slider-item__content .box-text {
    max-width: 772px;
    width: calc(100% - 470px);
    padding: 0 0 0 189px;
    font-size: 20px;
    line-height: 1.25; }
  .advantages-slider-item__content .num {
    position: absolute;
    overflow: hidden;
    width: 132px;
    right: 115px;
    top: -30px;
    color: #40006f;
    font-size: 336px;
    font-family: 'ClarendonBT-Roman', sans-serif; }

.advantages-slider__icon {
  width: 93px;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 36px; }

.advantages-slider-item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 1;
  background: #40006f;
  padding: 49px 120px 49px 38px;
  font-size: 30px; }
  .advantages-slider-item__tags:before {
    content: '';
    display: inline-block;
    margin: 0 80px 0 0;
    width: 22px;
    height: 21px;
    background: url("../img/tag.png") no-repeat center;
      background-size: 100%; }
  .advantages-slider-item__tags li:last-child a:after {
    display: none; }
  .advantages-slider-item__tags li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
    .advantages-slider-item__tags li a:after {
      content: '/';
      display: inline-block;
      margin: 0 65px; }

.slick-disabled {
  opacity: 0;
  visibility: hidden; }

.slick-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  bottom: 20px;
  position: absolute;
  left: 0;
  padding: 0 0 0 210px; }
  .slick-dots li {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 14px;
    height: 14px;
    border: none;
      border-radius: 50%;
    margin: 0 97px 0 0;
    background: #fff; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #40006f; }

.reviews {
  position: relative; }
  .reviews h2 {
    margin: 0 0 21px; }

.reviews-content {
  position: relative;
  width: 100%;
  z-index: 1; }
  .reviews-content:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3000px;
    height: 100%;
    background: #fff;
    z-index: -1; }
  .reviews-content .slick-arrow {
    left: -60px; }
  .reviews-content .slick-prev {
    top: calc(50% - 75px); }
  .reviews-content .slick-next {
    bottom: calc(50% - 75px); }

.reviews-col {
  position: initial; }

.nav-tabs {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: none;
    border-radius: 0; }
  .nav-tabs .nav-link {
    margin: 0 0 26px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 11px 55px 11px 25px;
    background-color: #d9d9d9;
    border: none;
      border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #808080;
    font-weight: bold;
    width: 136px;
    height: 93px;
    position: relative; }
    .nav-tabs .nav-link:last-child {
      margin: 0; }
  .nav-tabs .nav-link.active {
    background: #400070;
    width: 233px; }
    .nav-tabs .nav-link.active .nav-tabs__icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }

.nav-tabs__icon {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  margin: 0 auto 0 0; }

.nav-tabs__text {
  display: inline-block;
  -webkit-transform: rotate(-90deg) translate(0, -50%);
          transform: rotate(-90deg) translate(0, -50%);
  position: absolute;
  top: 40%;
  right: -10px; }

.reviews-slider-video__item {
  width: 100%;
  max-width: 1100px;
  height: 500px;
  margin: 0 auto; }
  .reviews-slider-video__item iframe {
    width: 100%;
    height: 100%; }

.slick-arrow {
  width: 86px;
  height: 19px;
  padding: 0;
  border: none;
    border-radius: 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  outline: none;
  cursor: pointer; }

.slick-slide {
  outline: none; }

.slick-prev {
  background: url("../img/arrow-prev.png") no-repeat center;
    background-size: 100%; }

.slick-next {
  background: url("../img/arrow-next.png") no-repeat center;
    background-size: 100%; }

.reviews-slider {
  padding: 45px 120px 38px; }

.reviews-slider-content__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviews-slider-photo {
  max-width: 598px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.reviews-slider-text {
  width: calc(100% - 598px);
  padding: 0 0 0 177px; }
  .reviews-slider-text h3 {
    font-size: 54px;
    font-weight: bold;
    color: #40006f; }
  .reviews-slider-text .position {
    margin: 22px 0 70px;
    font-size: 26px;
    color: #000; }
  .reviews-slider-text .box-text {
    position: relative;
    line-height: 1.56; }
    .reviews-slider-text .box-text:before {
      content: '';
      position: absolute;
      left: -54px;
      top: -38px;
      width: 41px;
      height: 38px;
      background: url("../img/quote-icon.png") no-repeat center;
        background-size: 100%; }

.resources {
  margin: 106px 0; }

.resources-img {
  min-width: 848px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .resources-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.resources-row {
  width: 100%;
  background: #40006f;
  color: #fff;
  font-size: 20px; }
  .resources-row h3 {
    font-size: 54px;
    font-weight: bold; }
  .resources-row .box-text {
    line-height: 1.15;
    margin: 22px 0 32px;
    padding: 0 150px 0 120px; }

.resources-row:nth-child(odd) {
  color: #40006f;
  background: #fff;
  text-align: right; }
  .resources-row:nth-child(odd) .resources-img {
    float: right; }
  .resources-row:nth-child(odd) .box-text {
    padding: 0 120px 0 150px; }
  .resources-row:nth-child(odd) .btn {
    margin: 0 0 0 auto; }

.resources-content {
  height: 100%;
  padding: 67px 0; }

.advertising-company {
  padding: 113px 0; }
  .advertising-company h2 {
    position: relative;
    margin: 0 0 29px;
    padding: 0 86px 0 0;
    color: #40006f; }
    .advertising-company h2:before {
      content: '';
      position: absolute;
      width: 86px;
      height: 19px;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background: url("../img/arrow-next.png") no-repeat center;
        background-size: 100%; }
  .advertising-company .box-text {
    line-height: 1.38;
    text-align: justify; }

.links-calculation-company {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 40px 0 35px 117px;
  font-size: 54px;
  line-height: 1.06;
  font-weight: bold; }
  .links-calculation-company:hover {
    color: #d9d9d9; }
  .links-calculation-company:before {
    content: '';
    position: absolute;
    left: 70px;
    top: 0;
    width: 2000px;
    height: 100%;
    background: #40006f;
    z-index: -1; }

.career {
  padding: 131px 0 107px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  margin: 0 0 114px; }
  .career h2 {
    color: #fff; }
  .career:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: 1; }
  .career .container {
    position: relative;
    z-index: 2; }

.become-links {
  font-size: 26px;
  margin: 513px 0 0 auto;
  text-align: right; }

footer {
  background: #40006f;
  color: #fff;
  padding: 79px 0 78px; }
  footer .logo {
    max-width: 519px; }
  footer .menu {
    font-size: 17px; }
    footer .menu li {
      margin: 0 35px 0 0; }
      footer .menu li a:hover {
        color: #d9d9d9; }

.list-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 26px; }
  .list-social li {
    margin: 0 60px 20px 0; }
    .list-social li:last-child {
      margin: 0 0 20px; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1780px) {
  .reviews-content .slick-arrow {
    left: 0; } }

@media only screen and (max-width: 1600px) {
  .slick-dots {
    padding: 0 0 0 40px; }
    .slick-dots li {
      margin: 0 40px 0 0; }
  .advantages-slider-item__content .box-text {
    padding: 0 120px 0 30px; } }

@media only screen and (max-width: 1400px) {
  .menu {
    font-size: 20px; }
    .menu li {
      margin: 0 20px 0 0; }
  h1 {
    font-size: 60px; }
  h2 {
    font-size: 50px; }
  .position-author {
    font-size: 22px; }
  .blockquote h3 {
    font-size: 24px; }
  footer .menu {
    font-size: 14px; }
    footer .menu li {
      margin: 0 15px 0 0; }
  .reviews-slider-text {
    padding: 0 0 0 70px; }
  .resources-row .box-text {
    padding: 0 40px;
    margin: 20px 0; }
  .resources-row:nth-child(odd) .box-text {
    padding: 0 40px; }
  .advantages-slider-item__content h3 {
    font-size: 40px; }
  .advantages-slider-item__tags {
    padding: 30px;
    font-size: 20px; } }

@media only screen and (max-width: 1200px) {
  .home {
    padding: 300px 0 120px; }
  header {
    padding: 20px 0; }
  .author-img {
    margin: 0 auto 30px; }
  .list-social li {
    margin-right: 20px; }
  footer .menu {
    font-size: 12px; }
    footer .menu li {
      margin: 0 10px 0 0; }
  .links-calculation-company {
    font-size: 40px; }
  .advertising-company {
    padding: 80px 0; }
  .reviews-slider-photo {
    max-width: 400px; }
  .reviews-slider-text {
    width: calc(100% - 400px); }
  .reviews-slider-text h3 {
    font-size: 30px; }
  .reviews-slider-text .position {
    font-size: 20px;
    margin: 10px 0 20px; }
  .resources-row {
    font-size: 16px; }
  .resources-content {
    padding: 40px 0; }
  .resources-img {
    min-width: 600px; }
  .btn {
    font-size: 20px; }
  .resources-row h3 {
    font-size: 40px; }
  .advantages-slider-item__content h3 {
    font-size: 30px;
    max-width: 280px; }
  .advantages-slider-item__content .box-text {
    width: calc(100% - 280px); }
  .advantages-slider-item__content {
    padding: 30px 80px 60px 0; }
  .advantages-slider-item__content .num {
    font-size: 220px;
    top: 40px; }
  .advantages-slider-item__content .box-text {
    padding: 0 170px 0 30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu {
    font-size: 15px; }
    .menu li {
      margin: 0 15px 0 0; }
  footer .logo {
    margin: 0 auto 20px;
    max-width: 400px; }
  .list-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .menu li {
      margin: 0 10px 10px 0; }
      footer .menu li:last-child {
        margin: 0 0 10px; }
  footer {
    padding: 30px 0; }
  .become-links {
    margin: 200px 0 0 auto;
    font-size: 22px; }
  .links-calculation-company {
    margin: 30px 0 0;
    padding: 20px; }
    .links-calculation-company:before {
      left: 0; }
  .reviews-slider-photo {
    margin: 0 auto 30px;
    max-width: 300px; }
  .reviews-slider-text {
    width: 100%;
    padding: 0 0 0 40px; }
  .reviews-slider {
    padding: 40px 0; }
  .reviews-slider-text .box-text:before {
    width: 30px;
    height: 30px;
    left: -33px;
    top: -30px; }
  .reviews-content .slick-prev {
    top: 120px; }
  .reviews-content .slick-next {
    bottom: auto;
    top: 180px; }
  .resources-row:nth-child(odd) .resources-img {
    float: none; }
  .resources-row h3 {
    font-size: 30px; }
  .btn {
    height: 50px; }
  .advantages-slider-item__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .advantages-slider-item__content h3 {
      max-width: none;
      font-size: 24px;
      width: 100%;
      margin: 0 0 30px; }
    .advantages-slider-item__content .box-text {
      width: 100%;
      font-size: 18px;
      padding: 0 150px 0 0; }
    .advantages-slider-item__content .num {
      font-size: 180px;
      top: 90px;
      right: 80px; }
  .slick-dots {
    position: relative;
    bottom: 0;
    margin: 30px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .home {
    padding: 200px 0 100px; }
  .author-title {
    padding: 0 70px 0 0; }
    .author-title:before {
      width: 60px;
      height: 60px; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 40px; }
  .position-author {
    font-size: 18px; }
  .blockquote h3 {
    font-size: 20px;
    margin: 0 0 20px; }
  .author {
    padding: 40px 0 50px; }
  .advertising-company {
    padding: 50px 0; }
  .nav-tabs .nav-link.active {
    width: 150px; }
  .nav-tabs .nav-link {
    font-size: 14px;
    height: 65px;
    width: 110px;
    margin: 0 0 10px; }
  .nav-tabs__icon {
    max-width: 40px;
    width: 100%; }
  .reviews-content .slick-arrow {
    width: 60px; }
  .resources {
    margin: 60px 0; }
  .resources-img {
    min-width: auto; }
  .advantages-slider-item__tags li a:after {
    margin: 0 30px; }
  .advantages-slider-item__tags {
    font-size: 16px; }
    .advantages-slider-item__tags:before {
      margin: 0 30px 0 0; }
  .slick-arrow {
    width: 50px; }
  .advantages-slider:before {
    right: 70px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .blockquote h3 {
    max-width: none; }
  .blockquote-content {
    width: 100%;
    padding: 0 40px 0 0; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 30px; }
  .blockquote-content {
    text-align: left; }
  .list-social li a {
    width: 38px;
    height: 38px; }
  .career {
    margin: 0 0 40px;
    padding: 70px 0; }
  .become-links {
    font-size: 18px;
    margin: 160px 0 0 auto; }
  .advertising-company h2:before {
    width: 50px; }
  .links-calculation-company {
    font-size: 30px; }
  .advantages-slider-item__content .num {
    display: none; }
  .advantages-slider-item__content .box-text {
    padding: 0; }
  .advantages-slider-item__content {
    padding: 20px 0; }
  .advantages-slider:before {
    right: -15px; }
  .advantages-slider .slick-next {
    top: 140px; }
  .advantages-slider .slick-prev {
    bottom: auto;
    top: 170px; }
  .advantages-slider-item__tags {
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .advantages-slider-item__tags:before {
      margin: 0 10px 10px 0;
      width: 16px;
      height: 16px; }
    .advantages-slider-item__tags li:after {
      margin: 0 10px; } }

@media only screen and (max-width: 480px) {
  .links-calculation-company {
    font-size: 24px; }
  .advertising-company .box-text {
    text-align: left; }
  .advertising-company h2 {
    padding: 0 50px 0 0; }
  .reviews-slider-photo {
    max-width: 220px; }
  .reviews-content .slick-arrow {
    width: 50px; }
  .reviews-content .slick-prev {
    top: 100px; }
  .reviews-content .slick-next {
    top: 140px; }
  .reviews-slider-text {
    padding: 0; }
  .reviews-slider-text h3 {
    font-size: 24px; }
  .reviews-slider-text .position {
    font-size: 18px; }
  .reviews-slider-text .box-text {
    font-size: 14px; }
  .nav-tabs .nav-link {
    padding: 10px 30px 10px 10px;
    width: 90px; }
  .nav-tabs .nav-link.active {
    width: 120px; }
  .reviews-slider-text .box-text:before {
    display: none; }
  .resources-row .box-text {
    padding: 0; }
  .resources-row h3 {
    font-size: 24px; }
  .btn {
    font-size: 16px; }
  .resources-row:nth-child(odd) {
    text-align: left; }
    .resources-row:nth-child(odd) .box-text {
      text-align: left;
      padding: 0; }
    .resources-row:nth-child(odd) .btn {
      margin: 0; }
  .slick-dots li {
    margin: 0 20px 0 0; } }
