@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1780px)
  .reviews-content .slick-arrow
    left: 0

@media only screen and (max-width: 1600px)
  .slick-dots
    padding: 0 0 0 40px
    li
      margin: 0 40px 0 0

  .advantages-slider-item__content .box-text
    padding: 0 120px 0 30px

@media only screen and (max-width: 1400px)
  .menu
    font-size: 20px

    li
      margin: 0 20px 0 0

  h1
    font-size: 60px

  h2
    font-size: 50px

  .position-author
    font-size: 22px

  .blockquote h3
    font-size: 24px

  footer .menu
    font-size: 14px

    li
      margin: 0 15px 0 0

  .reviews-slider-text
    padding: 0 0 0 70px

  .resources-row .box-text
    padding: 0 40px
    margin: 20px 0

  .resources-row:nth-child(odd) .box-text
    padding: 0 40px

  .advantages-slider-item__content h3
    font-size: 40px

  .advantages-slider-item__tags
    padding: 30px
    font-size: 20px

@media only screen and (max-width: 1200px)
  .home
    padding: 300px 0 120px

  header
    padding: 20px 0

  .author-img
    margin: 0 auto 30px

  .list-social li
    margin-right: 20px

  footer .menu
    font-size: 12px

    li
      margin: 0 10px 0 0

  .links-calculation-company
    font-size: 40px

  .advertising-company
    padding: 80px 0

  .reviews-slider-photo
    max-width: 400px

  .reviews-slider-text
    width: calc(100% - 400px)

  .reviews-slider-text h3
    font-size: 30px

  .reviews-slider-text .position
    font-size: 20px
    margin: 10px 0 20px

  .resources-row
    font-size: 16px

  .resources-content
    padding: 40px 0

  .resources-img
    min-width: 600px

  .btn
    font-size: 20px

  .resources-row h3
    font-size: 40px

  .advantages-slider-item__content h3
    font-size: 30px
    max-width: 280px

  .advantages-slider-item__content .box-text
    width: calc(100% - 280px)

  .advantages-slider-item__content
    padding: 30px 80px 60px 0

  .advantages-slider-item__content .num
    font-size: 220px
    top: 40px

  .advantages-slider-item__content .box-text
    padding: 0 170px 0 30px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .menu
    font-size: 15px

    li
      margin: 0 15px 0 0

  footer .logo
    margin: 0 auto 20px
    max-width: 400px

  .list-social
    justify-content: center

  footer .menu
    justify-content: center
    li
      margin: 0 10px 10px 0
      &:last-child
        margin: 0 0 10px

  footer
    padding: 30px 0

  .become-links
    margin: 200px 0 0 auto
    font-size: 22px

  .links-calculation-company
    margin: 30px 0 0
    padding: 20px
    &:before
      left: 0

  .reviews-slider-photo
    margin: 0 auto 30px
    max-width: 300px

  .reviews-slider-text
    width: 100%
    padding: 0 0 0 40px

  .reviews-slider
    padding: 40px 0

  .reviews-slider-text .box-text:before
    width: 30px
    height: 30px
    left: -33px
    top: -30px

  .reviews-content .slick-prev
    top: 120px

  .reviews-content .slick-next
    bottom: auto
    top: 180px

  .resources-row:nth-child(odd) .resources-img
    float: none

  .resources-row

    h3
      font-size: 30px

  .btn
    height: 50px

  .advantages-slider-item__content
    flex-wrap: wrap
    h3
      max-width: none
      font-size: 24px
      width: 100%
      margin: 0 0 30px
    .box-text
      width: 100%
      font-size: 18px
      padding: 0 150px 0 0
    .num
      font-size: 180px
      top: 90px
      right: 80px

  .slick-dots
    position: relative
    bottom: 0
    margin: 30px 0 0
    justify-content: center
    padding: 0

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .home
    padding: 200px 0 100px

  .author-title
    padding: 0 70px 0 0

    &:before
      width: 60px
      height: 60px

  h1
    font-size: 50px

  h2
    font-size: 40px

  .position-author
    font-size: 18px

  .blockquote h3
    font-size: 20px
    margin: 0 0 20px

  .author
    padding: 40px 0 50px

  .advertising-company
    padding: 50px 0

  .nav-tabs .nav-link.active
    width: 150px

  .nav-tabs .nav-link
    font-size: 14px
    height: 65px
    width: 110px
    margin: 0 0 10px

  .nav-tabs__icon
    max-width: 40px
    width: 100%

  .reviews-content .slick-arrow
    width: 60px

  .resources
    margin: 60px 0

  .resources-img
    min-width: auto

  .advantages-slider-item__tags li a:after
    margin: 0 30px

  .advantages-slider-item__tags
    font-size: 16px
    &:before
      margin: 0 30px 0 0

  .slick-arrow
    width: 50px

  .advantages-slider:before
    right: 70px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .blockquote h3
    max-width: none

  .blockquote-content
    width: 100%
    padding: 0 40px 0 0

  h1
    font-size: 40px

  h2
    font-size: 30px

  .blockquote-content
    text-align: left

  .list-social li a
    width: 38px
    height: 38px

  .career
    margin: 0 0 40px
    padding: 70px 0

  .become-links
    font-size: 18px
    margin: 160px 0 0 auto

  .advertising-company h2:before
    width: 50px

  .links-calculation-company
    font-size: 30px

  .advantages-slider-item__content .num
    display: none

  .advantages-slider-item__content .box-text
    padding: 0

  .advantages-slider-item__content
    padding: 20px 0

  .advantages-slider:before
    right: -15px

  .advantages-slider .slick-next
    top: 140px

  .advantages-slider .slick-prev
    bottom: auto
    top: 170px

  .advantages-slider-item__tags
    padding: 20px
    flex-wrap: wrap
    &:before
      margin: 0 10px 10px 0
      width: 16px
      height: 16px
    li
      &:after
        margin: 0 10px

@media only screen and (max-width: 480px)
  .links-calculation-company
    font-size: 24px
    
  .advertising-company .box-text
    text-align: left

  .advertising-company h2
    padding: 0 50px 0 0

  .reviews-slider-photo
    max-width: 220px

  .reviews-content .slick-arrow
    width: 50px

  .reviews-content .slick-prev
    top: 100px

  .reviews-content .slick-next
    top: 140px

  .reviews-slider-text
    padding: 0

  .reviews-slider-text h3
    font-size: 24px

  .reviews-slider-text .position
    font-size: 18px

  .reviews-slider-text .box-text
    font-size: 14px

  .nav-tabs .nav-link
    padding: 10px 30px 10px 10px
    width: 90px

  .nav-tabs .nav-link.active
    width: 120px

  .reviews-slider-text .box-text:before
    display: none

  .resources-row
    .box-text
      padding: 0
    h3
      font-size: 24px

  .btn
    font-size: 16px

  .resources-row:nth-child(odd)
    text-align: left
    .box-text
      text-align: left
      padding: 0
    .btn
      margin: 0

  .slick-dots li
    margin: 0 20px 0 0